body {
  padding: 50px; 
}

.calculator {
  background: lightgreen;
  text-align: center;
  width: 400px;
  height: 520px;
  padding: 10px;
}

.calculator button {
  height: 70px;
  font-size: 22px;
  width: 100%;
  background: lightgreen;
}

.calculator .longer{
  height: 150px;
}

.calculator .operator{
  background: skyblue;
}

#display {
  padding:10px;
  background: black;
  height: 100px;
  margin-bottom:10px;  
  color: white;
}

#lineOne {
  height:40%;
  font-size: 30px;
}
#lineTwo {
  height:50%;
  font-size:35px;
  text-align:right;
}

#equals {
  width: 192px;
  background: white;
}

#clear {
   background: pink;
}